* {
  font-family: monospace;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  padding: 0.25rem;
  font-size: large;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border: 1px solid grey;
  padding: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: small;
  text-align: left;
  font-weight: 600;
}

input {
  font-size: large;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

tr:hover td {
  background-color: #f7f7f7;
}
